# Node dependencies
node_modules/
npm-debug.log*
yarn.lock
package-lock.json
pnpm-lock.yaml

# Vite build files
dist/
.vite/

# Local environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs & Debugging
logs/
*.log
*.gz
*.sqlite
*.db

# System files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
